<div class="container mt-4">
  <h2 class="text-center mb-4">Health Dashboard</h2>

  <!-- Food Summary -->
  <div class="card mb-4">
    <div class="card-body">
      <div class="text-center mt-4">
        <h4 class="mb-2">Recent Meals</h4>
        <a
          routerLink="/food-journal"
          class="btn btn-outline-primary btn-sm mb-2"
        >
          View Detailed Journal
        </a>
      </div>

      <p *ngIf="recentMeals.length === 0" class="text-muted">
        No meals logged yet.
      </p>
      <div *ngFor="let meal of recentMeals">
        <strong>{{ meal.mealName }}</strong> -
        {{ meal.timeEaten | date : "shortTime" }}<br />
        <span *ngFor="let food of meal.foods">
          • {{ food.foodName }}: {{ food.calories }} cal, {{ food.carbs }}g
          carbs, {{ food.protein }}g protein, {{ food.fat }}g fat<br />
        </span>
        <hr />
      </div>
      <div class="text-center">
        <button class="btn btn-sm btn-primary" (click)="goToAddMeal()">
          Add Meal
        </button>
      </div>
    </div>
  </div>

  <!-- Glucose Summary -->
  <div class="card">
    <div class="card-body">
      <div class="text-center mt-4">
        <h4 class="mb-2">Recent Glucose Readings</h4>
        <a
          routerLink="/glucose-journal"
          class="btn btn-outline-primary btn-sm mb-2"
        >
          View Detailed Journal
        </a>
      </div>

      <div class="btn-group mb-3">
        <button
          *ngFor="let hours of rangeOptions"
          class="btn btn-outline-secondary btn-sm"
          [class.active]="selectedHours === hours"
          (click)="setRange(hours)"
        >
          {{ hours }} {{ hours === 1 ? "Hour" : "Hours" }}
        </button>
      </div>

      <canvas
        baseChart
        [datasets]="glucoseChartData"
        [labels]="glucoseChartLabels"
        [options]="glucoseChartOptions"
        [type]="'line'"
      >
      </canvas>

      <div class="mt-3 text-center">
        <button class="btn btn-sm btn-primary" (click)="goToAddReading()">
          Add Reading
        </button>
      </div>
    </div>
  </div>
</div>
