<footer
  class="bg-body-tertiary text-center text-lg-start border-top mt-auto py-3"
>
  <div class="container text-center">
    <div class="mb-2 fw-semibold">Justin Gritton-Bell</div>

    <div class="mb-2">
      <a
        href="https://github.com/jgrittonbell/yhj-frontend"
        class="link-primary me-2"
        target="_blank"
        rel="noopener"
      >
        Frontend Repo
      </a>
      |
      <a
        href="https://github.com/jgrittonbell/YourHealthJournal"
        class="link-primary ms-2"
        target="_blank"
        rel="noopener"
      >
        Backend Repo
      </a>
    </div>

    <div class="text-muted small">
      This software should not be used for medical decisions or as a substitute
      for professional healthcare advice.
    </div>
  </div>
</footer>
